<h1>New Student Form</h1>

<!-- <form action="/students" method="post">
<p>First Name: <input type="text" name="student[first_name]"></p>
<p>Last Name: <input type="text" name="student[last_name]"></p>
<p><input type="submit" value="Submit Student"></p>
</form>
-->


<%= form_tag(students_path,method: :post) do -%>

<%= text_field_tag 'student[first_name]'%><br>

<%= text_field_tag 'student[last_name]'%><br>

<%= submit_tag 'Submit Student' %><br>

<% end -%>